

header {
    height: 80px;
    display: flex;
    justify-content:space-between ;
    align-items: center ;
    padding:  10px;   
   }
   .logo  {
    height: 65px;
   width: auto;
   
   }
   main {
    height: 100rem;
    padding: 20px;
   }
  
   nav a {
    display: inline;
    text-decoration: none;
    color: black;
    margin-right: 10px;
font-weight: bold;
   }
   
   
   
   
   .textbox {
    position: absolute;
    height: 200px;
    width: 200px;
    padding-left: 20px;
   }
   .pink-text {
    color: #ff3998;
   }
   
   .graphic {
    position: relative;
    top: 60px;
    left: 600px;
   }
   img {
    width: 450px;
   }
   
   .button {
    border-radius: 20px;
border-top-color: #ff3998;
border-bottom-color: #ff8039;
width: 100px;
height: 40px;
  }
  
 .multicolorbox {
    position: relative;
    background-color:#ff8039; 
    top: 20px;
    height: 100px;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
 } 
 .logobox {
   display: flex;
   align-items: baseline;
   padding-top: 20px;
   
 }

.text {
    position: relative;
    top: 20px;
    padding: 20px;
    
}

    


.flexcontainer {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

    



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: auto;
   border-bottom-left-radius: 10pxpx;
   border-bottom-right-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.greenwoman {
  position: absolute;
    height: 200px;
    width: 200px;
    padding-left: 20px; 
    
}
.woman {
  position: relative;
  top: 60px;
  left: 600px;
  border-bottom:1px solid black ;
}
.img2 {
  height: 200px;
}
 
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p{
  padding: 50px 0 100px 0;
  margin: 20px;
  font-size: 10px;
  color: gray;
}